TODO:
<h3>Styling of each section</h3>
<h3>Styling of titles</h3>
<h3>Fix schema mermaid: Use SVG or .md generator</h3>
<h3>Add alt text for mermaid schema</h3>
<h3>Replace Tailwind logo with Bildungsurlaub one (Canva logo creation? or ask ChatGPT for platform to create logos)</h3>
<h3>Verify pages are accessible with Colorblind extension + Lighthouse</h3>
<!-- Skip links to enable keyboard users to reach the main content of the page  -->
<div class="skip-to-main">
  <a href="#main">
    Skip to main content
  </a>
</div>

<!-- Table of content -->
<div class="table-of-contents" role="navigation" aria-labelledby="contents-heading">
  <h2 id="contents-heading">Contents</h2>
  <ul style="list-style: inside">
    <li><a class="underline underline-offset-2" href="#general-definition">Bildungs ur... what?</a></li>
    <li><a class="underline underline-offset-2" href="#definition-by-law">Definition and eligibility according to the German law</a></li>
    <li><a class="underline underline-offset-2" href="#entitlement">Entitlement per state</a></li>
    <li><a class="underline underline-offset-2" href="#find-your-bildungsurlaub">Find a Bildungurlaub</a></li>
    <li><a class="underline underline-offset-2" href="#request-for-approval">Request approval for Bildungsurlaub</a></li>
    <li><a class="underline underline-offset-2" href="#after-your-bildungsurlaub">After your Bildungsurlaub</a></li>
  </ul>
</div>
<div class="flex justify-center">
  <div>
    <img src="images/mermaid.png" alt="schema to employed until eligibility for bildungsurlaub">
  </div>
  {{!-- TODO: Ideally find a way to display a SVG instead, which is more accessible --}}
  {{!-- Mermaid live editor: https://mermaid.live/edit#pako:eNpNkDtvwzAMhP8KwTkG6jTooKFDH0OHTtkKL4xFOwIk0dAjgRDkv1d1UFiaqA-n4-luOIpmVBgTJf4wNAdy3WU_eKhnhb2CT7dYKawbulfw5SGdGUZxC_kCkwRwErhC8vBSZ5_OsXnyXI2smc3J8ip-M1ZnP8ccLOVTIzwoeK8WOTLkBZJA_wSaSgS-cCiQrgKFKbTePXTd63-0NubKH-vbKBs-4A4dB0dG1xpuf6IB678cD6jqqHmibNOAg79XKeUkx-JHVClk3mFe9FYcqolsrLQW8iOy3VmbJOH7UfXa-P0XYap84w --}}
</div>

<main id="main">
<div id="general-definition">
    <h1>What is Bildungsurlaub?</h1>

    <p class="m-8" id="templatesAndQuotes"><em><q>In most federal states, employees are offered the opportunity to take time off work to take advantage of
        opportunities
        for further education. This is known as "Bildungsurlaub" or "Bildungsfreistellung".

        In the overview below, you will find a brief description of each federal state that offers such a scheme and
        references
        to sources that provide detailed information on requirements and further information.</q></em> - InfoWeb Weiterbildung
    </p>

    <p class="m-8" id="templatesAndQuotes"><em><q>Educational leave is the legal entitlement of employees in [Germany] to time off work to participate in
    recognized further education events with continued payment of remuneration. </q></em> - Berlin.de</p>
</div>
<div id="definition-by-law">
    <h1>Definition and eligibility according to the German law</h1>

    <p class="m-8">Each principle and eligibility depend on the state your are working in. In the overview below you will find a description of the principles (Grundsätze) and eligibility (Anspruch) of each state:</p>

      <Accordion @states={{@model.data}} />
</div>
<div id="entitlement">

    <h1>Entitlement per state</h1>
    <Entitlement @states={{@model.data}} />
</div>

<div id="find-your-bildungsurlaub">

    <h1>Find a Bildungsurlaub</h1>
    <p>In the German states with Bildungsurlaub regulations, the common rule is to be employed for at least 6 months, to be eligible for Bildungsurlaub (5 days per year or 10 days every 2 years, see #Entitlement content for details). Also, the education itself must be recognized as Bildungsurlaub in the German state you are working in.</p>

    <p>Reminder: If approved, the employer continues to pay the salary of the employee (while attending further education), BUT the course is at the expense of the <em>employee</em>. Depending on the company, and/or the nature of the course, and/or the nature of your work, and the existing rules within your company, the employer can grant an educational budget, which can be used for Bildungsurlaub.</p>

    First, you need to find a course or seminar you are interested in.
    Here are platform to browse for educations specialised in Bildungsurlaub:
    <ul style="list-style: inside">
      <li><a class="underline underline-offset-2" href="https://bildungsurlaub.de/">Bildungsurlaub.de</a></li>
      <li><a class="underline underline-offset-2" href="https://www.bildungsurlauber.de/courses/">Bildungsurlauber</a></li>
      <li><a class="underline underline-offset-2" href="https://www.kursfinder.de/ratgeber/bildungsurlaub-14199">Kursfinder</a></li>
      <li><a class="underline underline-offset-2" href="https://www.berlin.de/sen/arbeit/weiterbildung/bildungszeit/suche/">Bildungsurlaub - Official Berlin website</a></li>
    </ul>
    <h2>List or schema of actions</h2>
</div>
<div id="request-for-approval">

<h1> Request approval for Bildungsurlaub</h1>
    Once you have found a course, I recommend you to follow the below steps:

    <ul style="list-style: inside">
      <li>Before applying, verify if the course is recognized as Bildungurlaub in your state. If the course details are not specifying it, or it is unclear, ask your HR department to help determine it.</li>
      <li>Be mindful of the starting date of the education you want to apply to - Ideally you should request approval for Bildungsurlaub at least 6 weeks before the course start. Of course, the earliest, the better.</li>
      <li>Usually the approval for Bildungsurlaub is done by the HR department. Make sure you also ask your direct manager if the dates, the duration of the course are also fine {{REWORD}}
      </li>
      <li>Prepare your request to have your Bildungsurlaub approved (see in the next section)</li>
    </ul>
    <h2>Create a request for Bildungsurlaub to HR</h2>

    <p>You are about the submit a request for a Bildungsurlaub. In order to ease the process, I advise you to prepare the following:</p>
    <ul style="list-style: inside">
      <li>Have the link to the Bildungsurlaub available</li>
      <li>Content of the Bildungsurlaub: Is it a course? A seminar? How many hours per day is dedicated to the education?</li>
      <li>Duration of the Bildungsurlaub</li>
      <li>Start date and end date of the Bildungsurlaub</li>
    </ul>

    Ready to submit a request? Let's do it!

    <p>Here is a template you can use in English (scroll down for the German template):</p>

    <p class="m-2" id="templatesAndQuotes">To the attention of {INSERT DEPARTMENT}:
      I would like to request an approval for an educational leave (Bildungsurlaub) between {INSERT STARTING DATE} and {END DATE} ({INSERT EXACT NUMBER OF DAYS} days).
      As stated by the {NAME OF THE STATE YOUR ARE WORKING IN} law, as an employee, I'm entitled to days for further education. I would like to use those days for {NAME OF THE COURSE}.
      The course consists of:
      {INSERT MAIN TOPICS OF THE COURSE}, which corresponds to approximatively to {INSERT HOURS} of courses per {DAY/WEEK}.
      Please find attached additional information regarding the course: {INSERT LINK TO THE COURSE AND/OR LINK TO THE SCHOOL}.

      I have informed my direct manager of the above request {you can also CC your manager if you are sending the request as an email}.

      Please let me know if you need additional information.

      Best,
        {YOUR NAME}
    </p>
    <div class="text-right"><button class=" border-solid	border-black  bg-gray-900 copy-to-clipboard" {{on "click" (fn this.copyContent "copyEnglishTemplateToClipboard")}}>Copy to clipboard!</button>
    </div>
        <p class="m-2" id="templatesAndQuotes">Zu Händen von {ABTEILUNG EINFÜGEN}:
        Ich möchte eine Genehmigung für einen Bildungsurlaub zwischen {Beginndatum einfügen} und {Enddatum} (genaue Anzahl der
        Tage einfügen) beantragen.
        Gemäß dem Gesetz {NAME DES STAATES IN DEM SIE ARBEITEN} habe ich als Arbeitnehmer Anspruch auf Tage zur Weiterbildung.
        Ich möchte diese Tage für {NAME DES KURSES} verwenden.
        Der Kurs besteht aus:
        Fügen Sie die Hauptthemen des Kurses ein, was in etwa den Stunden des Kurses pro Tag/Woche entspricht.
        In der Anlage finden Sie zusätzliche Informationen zum Kurs: {LINK ZUM KURS UND/ODER LINK ZUR SCHULE EINFÜGEN}.

        Ich habe meinen direkten Vorgesetzten über den obigen Antrag informiert {Sie können auch Ihren Vorgesetzten informieren,
        wenn Sie den Antrag per E-Mail senden}.

        {NAME}
        </p>
        <div class="text-right">
        <button class="border-solid	border-black copy-to-clipboard bg-gray-900"
        {{on "click" (fn this.copyContent "copyGermanTemplateToClipboard")}}>Copy to clipboard!</button>
        </div>
</div>
<div id="after-your-bildungsurlaub">

        <h1>After your Bildungsurlaub</h1>

        <p>You're Bildungsurlaub is over? Make sure to forward your certificate to your HR department (or the original department of approval), to confirm the education has taken place at the agreed school, with the agreed courses.</p>
</div>


<h1><b>Weiterbildung:</b></h1>
<ul style="list-style: inside">
  <li><a class="underline underline-offset-2"
    href="https://www.fu-berlin.de/en/sites/abt-1/referate/1c/welcome-service/ansprechpersonen-servicestellen/weiterbildung/bildungszeit.html">Taking
    Leave for Further Education and Training (Bildungzeit)</a></li>
  <li><a class="underline underline-offset-2" href="https://www.berlin.de/sen/arbeit/weiterbildung/bildungszeit/">Bildungzeit - Berlin official website</a></li>
  <li><a class="underline underline-offset-2"
    href="https://www.bildungsurlaub.de/infos/about_bildungsurlaub_general_informations_for_schools">Bildungsurlaub.de</a></li>
  <li><a class="underline underline-offset-2"
    href="https://en.berlinoschule.com/educational-leave-in-germany-bildungsurlaub-you-study-and-the-employer-keeps-paying-you/">Bildungsurlaub
    - English article</a></li>
  <li><a class="underline underline-offset-2" href="https://bildungsurlaub-approval.de/info-educators/">Bildungsurlaub approval - also check per state</a></li>
  <li><a class="underline underline-offset-2" href="https://www.iwwb.de/information/Bildungsurlaub-in-Deutschland-weiterbildung-26.html#:~:text=Berlin">Info Web
    Weiterbildung - Shows the official info (PDFs) and law</a></li>
</ul>
</main>
