  <h2 id="accordion-flush-heading-{{@index}}">
    <button id="eligibility-button-select" type="button" class="flex items-center justify-between w-full py-5 p-2 font-medium rtl:text-right border-b border-gray-200 dark:border-gray-700 gap-3"
    data-inactive-classes="text-gray-100 dark:text-white"
      data-accordion-target="#accordion-flush-body-{{@index}}" aria-expanded="false" aria-controls="accordion-flush-body-{{@index}}">
      <span>{{@state.stateNameAndBildung}}</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
      </svg>
    </button>
  </h2>
  <div id="accordion-flush-body-{{@index}}" class="hidden" aria-labelledby="accordion-flush-heading-{{@index}}">
    <div id="accordion-main-body" class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <h3 class="font-bold">Principles</h3>
      {{#each @state.principles  as |principle|}}
      <p class="mb-2 dark:text-gray-300">
        {{principle}}
      </p>
      {{/each}}
      <h3 class="font-bold">Eligibility</h3>
        {{#each @state.eligibility as |elig|}}
        <p class="mb-2 dark:text-gray-300">
          {{elig}}
        </p>
        {{/each}}
      <p class="mb-2 dark:text-gray-300">
        {{#if @state.hasBildungsUrlaubLaws}}
          <a href="{{@state.legalDocument}}" target="_blank" class="underline underline-offset-2">Legal documentation of
          {{@state.stateName}}</a>
        {{else}}
            <a href="{{@state.legalDocument}}" target="_blank" class="underline underline-offset-2">More information about {{@state.stateName}}</a>
        {{/if}}
      </p>
    </div>
  </div>

{{log @index 'index'}}
{{log @state.legalDocument}}
{{log @state.hasBildungsUrlaubLaws}}
